.bookList {
  margin-left: auto;
  margin-right: auto;
  .bookItem {
    display: inline-block;
    width: 16rem;
    height: 22rem;
    //background-color: rgba(153, 153, 153, 0.185);
    margin: 20px 12px;
    padding: 20px;
    border: 2px solid rgba(153, 153, 153, 0.493);

    .bookItem__image {
      width: 8rem;
      height: 11rem;

      display: block;
      margin: 0 auto 20px auto;
    }

    .bookItem__bookname {
      height: 2.2rem;
      font-size: 1rem;
      font-weight: normal;
      a {
        color: #000;
        text-decoration: none;
      }
    }

    .bookItem_button {
      display: inline;
      justify-content: space-around;

      .bookItem__addToCart {
        background-color: rgb(67, 223, 19);
        border-radius: 20px;
        font-size: 0.8em;
        color: rgb(235, 11, 11);
        width: 6.3rem;
        height: 2.4rem;
      }
      .bookItem__viewDetail {
        background-color: rgb(19, 182, 223);
        border-radius: 20px;
        font-size: 0.8em;
        color: rgb(235, 11, 11);
        width: 6.3rem;
        height: 2.4rem;
        margin-left: 10px;
      }
    }
  }
}
